# Flutter
.dart_tool/
.packages
.pub/
build/
ios/Pods/
ios/.symlinks/
android/.gradle/
android/app/build/
android/local.properties

# Mac
.DS_Store

# Firebase
.firebase/
firebase-debug.log

# IDE
.vscode/
.idea/